@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
font-family: 'Corinthia', cursive;

font-family: 'Montserrat', sans-serif;

font-family: 'Mulish', sans-serif;

font-family: 'Work Sans', sans-serif;
 */

/*-------------------------------------------- Common -----------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}


:root{
    --color-prim : #ECDE62;
    --color-white : #FFFFFF;
    --color-black : #000000;
    --color-black-80 : #333333;
    --color-black-60: #666666;
    --btn-transition: all 0.15s ease-in-out;
    cursor: none;
}

body{
    background: var(--color-white);
    overflow-x: hidden;
    
}

button, a, input, textarea, label, select, option{
    cursor: none;
}

.title-typo{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 82.11px;
}

.list-typo{
    font-weight: 600;
    font-size: 24px;
    line-height: 31.2px;
}

.para-typo{
    font-weight: 600;
    font-size: 24px;
    line-height: 40.8px;
}

.mouse-cursor {
    position: fixed;
    background-color: var(--color-prim);
    width: 20px;
    height: 20px;
    left:-5px;
    top:0px;
    border-radius: 100%;
    z-index: 1;
    z-index: 10001;
    transform: scale(1);
}

.mouse-cursor-follow {
   position: fixed;
    background-color: #ECDE6233;
    width: 30px;
    height: 30px;
    left:-10px;
    top:-5px;
    border-radius: 100%;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
}

@media only screen and (max-width: 1000px){
    :root{
        cursor: auto;
    }
    button, a, input, textarea, label, select, option{
        cursor: auto;
    }
    
    .title-typo{
        font-size: 50px;
        line-height: 58.65px;
    }

    .list-typo{
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
    }
    
    .para-typo{
        font-weight: 600;
        font-size: 20px;
        line-height: 34px;
    }

    .mouse-cursor, .mouse-cursor-follow{
        display: none;
    }
}
/*-------------------------------------------- loading --------------------------------------------*/

#loader{
    position: fixed;
    height: 100vh;
    width: 100%;
    color: white;
    z-index: 101;
    display: flex;
    gap: -1px;
    overflow: hidden;
}

.loader-overlaytext{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: transparent;
}

.loader-overlaytext-inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.loader-col{
    background: #000;
    height: 100vh;
    width: 101%;
    display: flex;
    align-items: center;
    clip-path: polygon(-1% 0, 101% 0, 101% 101%, -1% 101%);
    overflow: hidden;
    
}

.loading-h1{
    /* width: 100%; */
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 82.11px;
    /* overflow-x: hidden; */
    /* rotate: 90deg; */
    /* opacity: 0; */
}
@media only screen and (max-width: 1000px){
    .loading-h1{
        font-size: 20px;
        line-height: 56px;
    }
}
/*-------------------------------------------- contactus --------------------------------------------*/

#contact-section{
    position: fixed;
    /* background: url('/assets/images/contactUsSection/menu-bg.jpg'); */
    background-size:cover ;
    width: 100%;
    min-height: 100vh;
    z-index: 101;
    clip-path: circle(0% at 100% 0);
    overflow-y: scroll;
    top: 0px;
    left: 0px;
    bottom: 1px;
}

.contactus-section-color{
    position: fixed;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 100% 0);
    /* background: red; */
}

.contactus-section-color-1{
    background: #9840DD;
}
.contactus-section-color-2{
    background: #2474BD;
}
.contactus-section-color-3{
    background: #E97878;
}
.contactus-section-color-4{
    background: #D2955C;
}
.contactus-section-color-5{
    background: var(--color-prim);
}
.contactus-section-color-bg{
    background: #000;
}
.contactus-section-color-yellow{
    background: var(--color-prim);
}

.contactus-section-content-container{
    width: 100%;
    height: max-content;
    padding: 20px 54px;
    clip-path: circle(0% at 100% 0);
    background: var(--color-black);
    color: var(--color-white);
}

#contactCloseBtn{
    display: flex;
    align-items: center;
    color: var(--color-white);
    column-gap: 18px;
    margin-top: 48px;
    background: none;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.contactus-title{
    margin-top: 24px;
}

.contactus-main-form-img-conatainer{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.contactus-form-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contactus-form-container label,
.contactus-form-container input, 
.contactus-form-container select,
.contactus-form-container textarea{
    font-weight: 500;
    font-size: 20px;
    line-height: 25.1px;
    translate:  0px 600px ;
}

.contactus-form-container label{    
    /* rotate: 20deg; */
    opacity: 0;
}

.contactus-form-container input, 
.contactus-form-container select,
.contactus-form-container textarea{
    margin-top: 7px;
    height: 56px;
    outline: none;
    border: 2px solid #FFFFFFB2;
    border-radius: 12px;
    background: none;
    color: var(--color-white);
    padding: 0 24px;
    /* rotate: 20deg; */
    opacity: 0;
}

.contactus-form-container select{
    appearance: none;
}

option{
    background: var(--color-black);
    color: var(--color-white);
}

.contactus-form-select svg{
    position: absolute;
    right: 1rem;
    top: 40%;
    translate:  0px 600px ;
    opacity: 0;
}

.contactus-form-container textarea{
    height: 168px;
    padding: 16px 24px;
}

.contactus-form-container input:focus, 
.contactus-form-container select:focus,
.contactus-form-container textarea:focus{
    border: 2px solid var(--color-prim);
}

.contactus-form-row{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding-bottom: 48px;
}

.contactus-submit-btn{
    width: 100%;
    background: var(--color-prim);
    padding: 22px 0;
    font-weight: 800;
    font-size: 21px;
    line-height: 31.12px;
    border: 3px solid var(--color-prim);
    border-radius: 8px;
    transition: var(--btn-transition);
}
.contactus-submit-btn:hover{
    background: none;
    border: 3px solid var(--color-white);;
    color: var(--color-white);
}

.contactus-form-img-right-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactus-right-para{
    font-family: 'Corinthia', cursive;
    display: block;
    width: 500px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 18px;
}

.arrow-marker-contactus-path, .arrow-marker-contactus-path{
    stroke-dashoffset: 1000;
}
.contactus-section-bottom-container{
    margin-top: 75px;
    padding: 0;
    /* padding-bottom: 42px; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 1000px){
    .contactus-section-content-container{
        padding: 20px;
    }
    .contactus-main-form-img-conatainer{
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }   
    .contactus-form-container{
        width: 100%;
    }
    .contactus-form-container label,
    .contactus-form-container input, 
    .contactus-form-container select,
    .contactus-form-container textarea{
        font-weight: 500;
        font-size: 16px;
        line-height: 20.8px;
    }

    .contactus-form-container input, 
    .contactus-form-container select,
    .contactus-form-container textarea{
        border: 2px solid #FFFFFF4D;
        padding: 0 14px;
        height: 48px;
    }

    .contactus-form-container textarea{
        height: auto;
    }

    .contactus-form-img-right-container{
        width: 100%;
    }

    .contactus-submit-btn{
        /* padding: 17px 0; */
        width: 100%;
        font-weight: 800;
        font-size: 20px;
        line-height: 25.1px;
        padding: 15px 0px ;
    }
    .contactus-form-img-right-container{
        margin-top: 16px;
    }

    .contactus-right-para{
        width: auto;
        text-align: center;
    }
    .contactus-form-img-img-container{
        text-align: center;
        margin-top: 20px;
    }
    .contactus-form-img-img-container img{
        width: 80%;
    }

    .contactus-section-bottom-container{
        margin-top: 75px;
        padding: 0;
        /* padding-bottom: 42px; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        row-gap: 24px;
        width: 100%;
        padding-bottom: 12px;
    }
    /* .footer-section-bottom-container-copy-container{
        width: 100%;
        text-align: center;
    }
    .footer-section-bottom-container-img-container{
        column-gap: 46px;
    } */
}
/*-------------------------------------------- Navbar --------------------------------------------*/
.navbar-container{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 54px;
    z-index: 100;
    /* background: var(--color-black); */
}

.navbar-btn{
    padding: 10px 30px;
    background: var(--color-prim);
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
    border: none;
    border: 2px solid var(--color-prim);
    border-radius: 8px;
    transition: var(--btn-transition);
    /* cursor: pointer; */
}
.navbar-btn:hover{
    background: none;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    border-radius: 8px;
    box-sizing: border-box;
}

.navbar-color{
    background: var(--color-black);
    transition: all .25s ease-in-out;
}

@media only screen and (max-width: 1000px){
    .navbar-container{
        padding: 20px;
    }
    .navbar-logo{
        width: 113px;
    }
    .navbar-btn{
        padding: 10px 20px;
        white-space: nowrap;
    }
}
/*-------------------------------------------- Hero-Section --------------------------------------------*/
#hero-section{
    position: relative;
    background-image: linear-gradient(#000a, #000a), url("../assets/images/heroSection/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 665px;
    height: 80vh;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.hero-section-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1500px;
}

.hero-section-left-container{
    padding-left: 112px;
    min-width: 25rem;
}

.hero-section-title, .hero-section-title span{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 84px;
    line-height: 98.53px;
}

.hero-section-title span{
    color: var(--color-prim);
}

.hero-section-subtitle{
    margin-top: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
}

.hero-section-right-container{
    padding-right: 149px;
}

.hero-section-bottom-container{
    display: flex;
    overflow: hidden;
}


.hero-section-bottom-services-container{
    padding: 32px 0;
    white-space: nowrap;
    animation: banner 30s linear infinite
}

.marquee-item-service{
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;    
}
.marquee-item-service span{
    display: inline-block;
    margin: 0 20px;
    height: 6px;
    width: 6px;
    background: var(--color-prim);
    border-radius: 100%;
}

@keyframes banner {
    0%{
        transform: translateX(-100%);
    }


    100%{
        transform: translateX(0);
    }

}

.output {
    text-align:center;

    color:var(--color-prim);
  }

.output h1 {
    font-size:84px;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
  }
  
  /* Cursor Styling */
  
.cursor::after {
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:var(--color-prim);
    animation-name:blink;
    animation-duration:1s;
    animation-iteration-count: infinite;
}
h1.cursor::after {
    height:65px;
    width:13px;
}
p.cursor::after {
    height:13px;
    width:6px;
}

@keyframes blink {
    0% {
        opacity:1;
    }
    49% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

@media only screen and (max-width: 1000px){
    #hero-section{
        background-image: linear-gradient(#000a, #000a), url("../assets/images/heroSection/hero-bg-mobile.png");
        min-height: 800px;
        height: auto;
    }
    .hero-section-left-container{
        padding:0 20px;
        min-height: 245px;
    }
    .hero-section-top-container{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 120px;
    }

    .hero-section-title, .hero-section-title span{
        font-size: 64px;
        line-height: 75.07px;
    }
    .hero-section-subtitle{
        margin-top: 20px;
        font-size: 16px;
        line-height: 27.2px;
        text-align: center;
    }

    .hero-section-right-container{
        padding-right: 0;
        margin-top: 20px;
    }
    .hero-section-right-container img{
        width: 80vw;
        min-width: 360px;
    }
    .hero-section-bottom-container{
        position: absolute;
        bottom: 0;
    }
    .hero-section-bottom-services-container{
        padding: 20px 0;
    }
}

@media only screen and (max-width: 430px){
    .hero-section-subtitle{
        text-align: left;
    }
    .hero-section-title{
        height: 10rem;
    }
}
/*-------------------------------------------- Achievement-Section --------------------------------------------*/

#achievement-section{
    display: flex;
    justify-content: center;
}

.achivement-container-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin-top: 84px;
    padding: 0 100px;
}

.single-achivement-container{
    margin-bottom: 65px;
}
.achivement-header{
    color: var(--color-black-80);
}

.achivement-subtitle{
    color: var(--color-black-60);
}

.video-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 970px;
    height: 594px;
    background-image: linear-gradient(#000a, #000a), url("../assets/images/heroSection/video-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0px 10px 200px 10px #888888;
}


.play-outer-circle{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 310px;
    width: 310px;
    background: #ECDE6233;
}
.play-inner-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 228px;
    width: 228px;
    min-height: 228px;
    min-width: 228px;
    background: var(--color-prim);
    color: var(--color-black-80);
    text-decoration: none;
}

@media only screen and (max-width: 1000px){
    .achivement-container-center{
        flex-wrap: wrap;
        padding: 0 20px;
    }
    .achivement-container{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .video-container{
        min-height: 262px;
        height: 50vw;
    }
    .play-inner-circle{
        width: 126px;
        height: 126px;
        min-width: 126px;
        min-height: 126px;
    }
    .play-outer-circle{
        width: 170px;
        height: 170px;
    }
}

/*-------------------------------------------- service-Section --------------------------------------------*/

#service-section{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.service-section-content-container{
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
}

.service-section-static-bg-container{
    position: sticky;
    width: 100%;
    left: 500px;
    top: -0.5rem;
    z-index: -10;
    display: flex;
    justify-content: center;
}

.service-section-inner-bg-container{
    /* position: absolute;     */
    /* left: 30%; */
    transform: translate(-50%,0);
    

}

.service-section-static-bg-container h1{
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 680px;
    font-weight: 700;
    color: #eeeeee;
    text-shadow: 4px 4px 14px #00000022;
    /* margin-bottom: 50rem; */
}
.service-section-static-bg-container img{
    position: absolute;
    left: -14rem;
    top: 10rem;
    opacity: 0;
    scale: 0;
}

.first-sticky-container{
    margin-top: -48.5rem;
}

.last-sticky-container{
    margin-bottom: 10.6rem;
}
.service-single-type-sticky-container{
    position: relative;
    height: 1050px;
    padding-top: 140px;
    /* overflow: hidden; */

}

.service-single-type-container{
    width: 100%;
    position: sticky;
    top: 10rem;
    display: flex;
    align-items: center;
    /* column-gap: 500px; */
}

.service-single-type-bg-number{
    position: absolute;
    left: 700px;
    z-index: -10;
}

.service-single-type-bg-number h1{
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 680px;
    font-weight: 700;
    color: #eeeeee;
    text-shadow: 4px 4px 14px #00000022;
}

.service-single-type-content-container{
    /* padding-right: 150px; */
}

.service-single-type-img-container{
    width: 1000px;
    height: 10px;
}

@media only screen and (max-width: 1400px){
    .service-single-type-bg-number{
        left: 550px;
    }
    .service-single-type-img-container{
        width: 850px;
    }
}

@media only screen and (max-width: 1100px){
    .service-single-type-bg-number{
        left: 450px;
    }
    .service-single-type-img-container{
        width: 600px;
    }
}

.service-single-type-title-container{
    position: relative;
}

#title-marker-design{
    position: absolute;
    width: 345px;
    height: 112px;
    top: -15%;
    left: -20%;
}

.service-single-type-subservice-container{
    margin-top: 38px;
    list-style: none;
}
.service-single-type-subservice-container li{
    color: var(--color-black-60);
    margin-bottom: 24px;
    margin-left: -100px;
    opacity: 0;
}

#title-marker-technology{
    position: absolute;
    top: -35%;
    left: -10%;
    width: 488px;
    height: 129px;
}

#title-marker-business{
    position: absolute;
    top: -25%;
    left: -15%;
    width: 408px;
    height: 133px
}

.title-marker-path{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    /* animation: dash 1.5s ease-in-out infinite forwards; */
}

.title-marker-technology-path{
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
}

.title-marker-business-path{
    stroke-dasharray: 1020;
    stroke-dashoffset: 1013;
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

@media only screen and (max-width: 1000px){
    .service-section-overflow-container{
        overflow-x: clip;
    }
    #service-section{
        margin-bottom: 30rem;
    }
    .service-section-static-img-container img{
        top: 0rem;
        left: -10%;
        width: 300px;
        z-index: 10;
    }
    .service-single-type-sticky-container{
        width: 100%;
        height: 1350px;
        padding-top: 340px;
    }

    .service-section-static-bg-container{
        top: 5rem;
    }
    .service-single-type-container{
        flex-wrap: wrap;
        height: 20rem;
    }
    .service-single-type-content-container{
        position: absolute;
        top: 15rem;
        width: 100%;
    }
    .service-single-type-subservice-container{
        width: 100%;
        overflow: hidden;
    }
    .service-single-type-subservice-container li{
        width: 100%;
        overflow: hidden;
    }
    .first-sticky-container{
        margin-top: -44rem;
    }
    .service-single-type-bg-number{
        top: -5rem;
        left: 50%;
        z-index: -10;
    }
    .service-section-static-bg-container h1 , 
    .service-single-type-bg-number h1{
        font-size: 380px;
    }
    .service-single-type-img-container{
        display: none;
    }
    .last-sticky-container{
        margin-bottom: 3rem;
    }

    #title-marker-design{
        width: 240px;
        top: -20px;
        left: -40px;
    }
    #title-marker-technology{
        top: -55%;
        left: -5%;
        width: 350px;
        height: 129px;
    }
    #title-marker-business{
        position: absolute;
        top: -58%;
        left: -5%;
        width: 258px;
        height: 133px
    }    
    
  }
/*-------------------------------------------- experties-Section --------------------------------------------*/

#experties-section{
    position: relative;
    margin-top: 10rem;
    height: 100vh;
    background: var(--color-black);
    /* overflow-x: hidden; */
}

.experties-main-title{
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 200px;
    color: #fff7;
}
.experties-main-subtitle{
    position: absolute;
    top: 165px;
    left: 600px;
    color: var(--color-white);
}

#headerEffectCanvas {
    width: 100%;
    height: 100%;
  }

@media only screen and (max-width: 1000px){
    .experties-main-title{
        top: 0;
        left: 0;
        font-size: 120px;
        overflow-x: hidden;
        width: 100%
    }
    .experties-main-subtitle{
        top: 125px;
        left: auto;
        right: 20px;
        /* color: var(--color-white); */
    }
        
}
/*-------------------------------------------- unboxing-Section --------------------------------------------*/
#unboxing-section{
    display: flex;
    justify-content: center;
    margin: 120px 0;
    height: 658px;
}

.unboxing-section-content-container{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1500px;
    padding: 0 50px;
    display: flex;
    align-items: center;
}

.unboxing-section-title{
    width: 100%;
    white-space: nowrap;
}
.unboxing-section-loading-blob-container{
    position: absolute;
    right: 10%;
    display: flex;
    column-gap: 3rem;
    z-index: -10;
}

.unboxing-section-loading-blob-container div{
    width: 110px;
    height: 100px;
    background: #eeeeee;
    box-shadow: 4px 4px 14px #00000022;
    border-radius: 50px;
    opacity: 0;
}

@media only screen and (max-width: 1000px){
    .unboxing-section-content-container{
        padding: 0 20px;
    }
    .unboxing-section-title{
        width: 100%;
        white-space: normal;
        
    }
    .unboxing-section-loading-blob-container{
        bottom: 30%;
        column-gap: 2rem;
    }
    .unboxing-section-loading-blob-container div{
        width: 75px;
        height: 65px;
    }
}
/*-------------------------------------------- review-Section --------------------------------------------*/

#review-section{
    display: flex;
    justify-content: center;

    height: 848px;
    background: var(--color-black);
}

.review-section-content-container{
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 0 54px;
    padding-top: 84px;
    color: var(--color-white);
}

.review-section-title-container{
    position: relative;
    padding: 0 20px;
}
.review-section-happy{
    position: relative;
}
#title-marker-happy{
    position: absolute;
    /* top: 70px;
    left: 230px; */
    top: -15px;
    left: -20px;
    width: 265px;
    height: 124px
}

.review-section-reviews-container{
    width: 100%;
    height: 100%;
    position: relative;
}

.review-section-quotes-container{
    position: absolute;
    right: 0;
    z-index: 2;
}

.review-section-quotes-container svg{
    width: 316px;
    height: 201px 
}

.review-section-slides-container{
    position: relative;
    height: 70%;
    width: 93%;
    overflow: hidden;  
    display: flex;
    flex: 1;
}

.review-section-slides-inner{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 6rem;
}

.review-section-slide{
    position: absolute;
    min-width: 100%;
    height: 396px;
    
}
.review-section-bg-slide{
    position: absolute;
    width: calc(100% - 32px);
    border-radius: 40px ;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%,0);
    height: 80px;
    background: var(--color-white);
    /* z-index: -10; */
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    opacity: 0;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) */
}
.review-section-bg-slide-cover{
    position: absolute;
    width: calc(100% - 32px);
    border-radius: 40px ;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%,0);
    height: 80px;
    background: var(--color-black);
    /* z-index: -10; */
    /* clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
}

.review-section-slide-content-container{
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: #232323;
    border-radius: 40px;
    margin:0 1rem;
    /* box-shadow: 0px 8px var(--color-white); */
}

.slide-para{
    width: 80%;
}

.slide-client{
    font-weight: 700;
}

.slide-client-designation{
    margin-top: 4px;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;   
}

.slider-button-container{
    position: absolute;
    right: 10rem;
    display: flex;
    column-gap: 34px;
}

.slider-button-container button{
    background: none;
    border: none;
    padding: 10px 0;
    /* cursor: pointer; */
}

@media only screen and (max-width: 1000px){
    #review-section{
        height: 100%;
    }
    .review-section-content-container{
        padding: 0 ;
        padding-top: 32px;
        
    }
    #title-marker-happy{
        top: -30px;
        width: 205px;
        height: 124px
    }
    .review-section-quotes-container{
        top: -30px;
    }

    .review-section-quotes-container svg{
        width: 176px;
    }
    .review-section-slides-container{
        width: 100%;
        height: 600px;
    }
    .slide-para{
        width: 100%;
    }
    .review-section-slide{
        height: 80%;        
    }
    .review-section-reviews-container{
        /* height: 120%; */
        padding-bottom: 5rem;
    }

    .slider-button-container{
        width: 100%;
        bottom: 15px;
        padding: 0 20px;
        right: auto;
        left: 0;
        column-gap: 34px;
        justify-content: space-between;
    }
    .review-section-slide-content-container{
        border-radius: 20px;
    }
    .review-section-bg-slide{
        width: calc(100% - 32px);
        border-radius: 20px ;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%,0);
        height: 80px;
        background: var(--color-white);
        /* z-index: -10; */
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        opacity: 0;
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) */
    }
    .review-section-bg-slide-cover{
        position: absolute;
        width: calc(100% - 32px);
        border-radius: 20px ;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%,0);
        height: 80px;
        background: var(--color-black);
        /* z-index: -10; */
        /* clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }
}

@media only screen and (max-width: 371px){
    #title-marker-happy{
        top: 25px;
        left: -180px;
    }
}

/*-------------------------------------------- values-Section --------------------------------------------*/

#values-section{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
}

.values-single-type-sticky-container{
    position: relative;
    height: 1050px;
    /* padding-top: 140px; */
}
.values-section-content-container{
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 0 54px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.values-section-static-bg-container{
    position: sticky;
    left: 500px;
    top: -0.5rem;
    z-index: -10;
    width: 100%;
}

.value-section-static-bg-img{
    position: absolute;
    right: 0;
    top: 15rem;
    opacity: 0;
    scale: 0;
}
.values-single-value-main-container{
    width: 100%;
    position: sticky;
    top: 10rem;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.values-yinyang-container{
    padding-top: 10rem;
    margin-top: -34rem;
}

.values-bg-values{
    display: inline-block;    
    /* position: absolute; */
    margin-top: 5.5rem;
    /* margin-left: -25rem; */
    padding-bottom: 21rem;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 250px;
    font-weight: 700;
    color: #eeeeee;
    text-shadow: 4px 4px 14px #00000022;
    z-index: -1;
}

.values-single-value-text-container{
    width: 50%;
}

.values-single-value-text-container p{
    margin-top: 32px;
    color: var(--color-black-80);
}

.values-commitment-container{
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-top: 10px;
}

.values-commitment-bg-values{
    top: -8rem;
}

.values-commitment-img-container{
    margin-right: -7.5rem;
    margin-top: -3.5rem;
}

#values-yinyang-shadow-img{
    position: absolute;
    bottom: -8rem;
    right: 0;
    opacity: 0.2;
}

#values-commitment-shadow-img{
    position: absolute;
    bottom: -2rem;
    right: .5rem;
    opacity: 0.2;
}

@media only screen and (max-width: 1000px){
    #values-section{
        margin-top: 100px;
        overflow-x: clip;
    }
    .values-section-content-container{
        padding: 0 20px;
        margin-bottom: 20rem;
    }
    .values-bg-values{
        margin-top: 7rem;
        font-size: 100px;
        font-weight: 700;
        color: #eeeeee;
        text-shadow: 4px 4px 14px #00000022;
        z-index: -1;
    }
    .value-section-static-img-container{
        position: relative;
        width: 100%;
        height: fit-content;
    }
    .value-section-static-bg-img{
        top: 0rem;
        left: 50%;
        margin-left: -140px;
        width: 100%;
    }


    #values-yinyang-shadow-img{
        bottom: -8rem;
        width: 260px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        /* margin-left: -30%; */
        opacity: 0.2;
    }
    .values-commitment-img-container{
        top: 10rem;
    } 
    #values-commitment-shadow-img{
        bottom: -5rem;
        left: -5%;
    }
    .values-single-value-img-container{
        width: 260px;
        position: relative;
    }
    .values-single-value-img-container img{
        width: 100%;
        object-fit: contain;
        scale: 1;
        opacity: 1;
    }
    .values-commitment-img-container{
        width: 320px;
    }
    #values-commitment-img{
        margin-left: -5%;
    }   
    
    .values-single-value-text-container{
        width: 100%;
    }
    .values-yinyang-container {
        margin-top: -25rem;
        padding-top: 5rem;
    }

    .values-commitment-container{
        padding-top: 5rem;
        margin-top: 20rem;
        margin-bottom: -4rem;
    }
}
/*-------------------------------------------- askus-Section --------------------------------------------*/

#askus-section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    background-color: #fdef73;
}

.askus-section-content-container{
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 64px 54px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.askus-title{
    width: 60%;
}

.askus-section-bottom-container{
    margin-top: 64px;
    position: relative;
    width: 100%;
}

.askus-section-bottom-container button{
    color: var(--color-white);
    background: var(--color-black);
    border: 3px solid var(--color-black);
    border-radius: 8px;
    padding: 22px 0px ;
    width: 652px;
    font-weight: 800;
    font-size: 24px;
    line-height: 30.12px;
    transition: var(--btn-transition);
    /* cursor: pointer; */
}

.askus-section-bottom-container button:hover{
    color: var(--color-black);
    background: none;
    border: 3px solid var(--color-black);
}

.askus-section-bottom-abs-container{
    position: absolute;
    bottom: 5rem;
    right: 0;
    display: flex;
    justify-content: space-between;
    gap: 22px;
    /* width: 100%; */
}

#arrow-marker-askus{
    position: absolute;
    top: -1.5rem;
    left: -12rem;
}
.askus-section-bottom-para-container{
    width: fit-content;
}

.askus-section-bottom-para{
    font-family: 'Corinthia', cursive;
    display: block;
    width: 500px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

@media only screen and (max-width: 1400px){
    .askus-section-bottom-abs-container{
        bottom: 8rem;
    }
}

@media only screen and (max-width: 1300px){
    .askus-section-bottom-abs-container{
        bottom: 10rem;
    }

    #arrow-marker-askus{
        top: 8rem;
        left: auto;
        right: 15rem;
        transform: rotateZ(30deg);
    }
}

@media only screen and (max-width: 1180px){
    .askus-section-bottom-abs-container{
        bottom: 11rem;
    }

    #arrow-marker-askus{
        top: 1.5rem;
        left: -10rem;
        right: auto;
        transform: rotateZ(-30deg);
    }
}

@media only screen and (max-width: 1000px){
    .askus-section-content-container{
        height: 100%;
        min-height: 784px;
        padding: 20px;
    }
    .askus-title{
        width: 100%;
    }
    .askus-section-bottom-container button{
        width: 100%;
        font-weight: 800;
        font-size: 20px;
        line-height: 25.1px;
        padding: 15px 0px ;
    }
    .askus-section-bottom-abs-container{
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1rem;
    }
    #arrow-marker-askus{
        top: -10rem;
        left: 10rem;
        right: auto;
        transform: rotateZ(90deg);
    }
    .askus-section-bottom-para{
        max-width: none;
        width: 100%;
    }
}

@media only screen and (max-width: 470px){
    .askus-section-content-container{
        height: 100%;
        min-height: 884px;
        padding: 20px;
    }
}

/*-------------------------------------------- designprocess-Section --------------------------------------------*/

#designprocess-section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

.designprocess-section-content-container{
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 0px 54px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.designprocess-section-title-container{
    width: 100%;
}
.designprocess-section-title-container h1{
    width: 80%;
}

.designprocess-section-middle-container{
    display: flex;
    align-items: center;
    column-gap: 100px;
    width: 100%;
    /* margin: -5rem 0; */
}

.designprocess-wait-what{
    font-size: 32px;
    line-height: 54.4px;
    margin-bottom: 3rem;
}

.designprocess-section-bottom-container{
    width: 100%;
    margin-top: 1rem;
}

.designprocess-section-bottom-container button{
    color: var(--color-white);
    background: var(--color-black);
    border: 3px solid var(--color-black);
    border-radius: 8px;
    padding: 25px 0px ;
    width: 652px;
    font-weight: 800;
    font-size: 24px;
    line-height: 30.12px;
    transition: var(--btn-transition);
    /* cursor: pointer; */
}

.designprocess-section-bottom-container button:hover{
    color: var(--color-black);
    background: none;
    border: 3px solid var(--color-black);
}

@media only screen and (max-width: 1000px){
    #designprocess-section{
        margin-top: 64px;
    }
    .designprocess-section-content-container{
        padding: 0px 20px;
        min-height: 993px;
        display: block;
    }
    .designprocess-section-title-container h1{
        width: 100%;
    }
    .designprocess-section-middle-container{
        margin-top: 48px;
    }
    .designprocess-wait-what{
        font-size: 24px;
        line-height: 38.4px;
        margin-bottom: 16px;
    }
    .designprocess-section-bottom-container{
        margin-top: 48px;
    }
    .designprocess-section-bottom-container button{
        width: 100%;
        font-weight: 800;
        font-size: 20px;
        line-height: 25.1px;
        padding: 15px 0px ;
    }
    .designprocess-img-container{
        position: absolute;
        bottom: 0rem;
        left: 50%;
        transform: translateX(-50%);
    }
}
/*-------------------------------------------- blogs-Section --------------------------------------------*/

#blogs-section{
    display: flex;
    justify-content: center;
    margin: 200px 0 250px 0;
    width: 100%;
}

.blogs-section-content-container{
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 0px 54px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blogs-section-title{
    width: 100%;
}

.blogs-section-card-container{
    margin-top: 64px;
    width: 100%;
    display: flex;
    border: 4px solid var(--color-black);
    border-radius: 12px;
}

.blogs-section-img-container{
    background: #EEEEEE;
    width: 536px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.blogs-section-card-content-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blogs-section-card-blog-heading{
    font-weight: 700;
    font-size: 32px;
    line-height: 54.4px;
    margin-bottom: 32px;
}

.blogs-section-card-blog-content{
    font-weight: 600;
    font-size: 24px;
    line-height: 40.8px;
}

.blogs-section-card-button-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 1.5rem;
}

.blogs-btn{
    padding: 20px 0;
    width: 274px;
    font-weight: 800;
    font-size: 24px;
    line-height: 31.12px;
    border: none;
    border-radius: 8px;
    border: 4px solid var(--color-black);
    background: none;
    /* cursor: pointer; */
    transition: var(--btn-transition);
}

.blogs-read-more-btn{
    background: var(--color-black);
    color: var(--color-white);
}

.blogs-read-more-btn:hover{
    background: none;
    color: var(--color-black);
}

.blogs-view-all-btn:hover{
    background: var(--color-black);
    color: var(--color-white);
}

@media only screen and (max-width: 1000px){
    .blogs-section-content-container{
        padding: 0 20px;
    }
    .blogs-section-card-container{
        display: block;
        height: fit-content;
    }
    .blogs-section-img-container{
        width: 100%;
        max-height: 452px;
        height: 100%;
    }
    .blogs-section-img-container img{
        width: 100%;
        height: 100%;
        max-height: 452px;
        object-fit: cover;
    }
    .blogs-section-card-content-container{
        padding: 24px 16px;
    }
    .blogs-section-card-blog-heading{
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 16px;
    }
    .blogs-section-card-blog-content {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
    .blogs-section-card-button-container{
        margin-top: 20px;
        gap: 20px;
    }
    .blogs-btn{
        width: 100%;
        font-weight: 800;
        font-size: 20px;
        line-height: 25.1px;
        padding: 15px 0px ;
    }
}
/*-------------------------------------------- footer-Section --------------------------------------------*/

#footer-section{
    display: flex;
    justify-content: center;
    /* margin: 200px 0 100px 0; */
    width: 100%;
    background: var(--color-black);
    color: var(--color-white);
}

.footer-section-content-container{
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 0px 54px;
    /* padding-bottom: 10rem; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-section-top-container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 124px;
    padding-bottom: 10rem;
    width: 100%;
}

#title-marker-footer-invisible{
    position: absolute;
    top: -10px;
    right:-35px;
    width: 345px;
    height: 112px
}

.footer-section-top-container p{
    margin-top: 24px;
    margin-bottom: 64px;
    align-items: center;
}

.footer-section-top-container button{
    width: 522px;
    padding: 22px 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 30.12px;
    border: 3px solid var(--color-prim);
    border-radius: 8px;
    background: var(--color-prim);
    /* cursor: pointer; */
    transition: var(--btn-transition);
}

.footer-section-top-container button:hover{
    background: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-white);
}

.footer-title{
    position: relative;
    text-align: center;
    width: fit-content;
}

.footer-title-invisible-span{
    position: relative;
}

.footer-section-bottom-container{
    margin-top: 75px;
    padding: 0 54px;
    padding-bottom: 42px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-section-bottom-container-copy-container p{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.footer-section-bottom-container-img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 75px;
}

@media only screen and (max-width: 1000px){
    .footer-section-content-container{
        padding: 0 20px;
    }
    #title-marker-footer-invisible{
        top: -22px;
        right:-20px;
        width: 245px;
        height: 112px
    }
    .footer-section-top-container button{
        width: 100%;
        font-weight: 800;
        font-size: 20px;
        line-height: 25.1px;
        padding: 15px 0px ;
    }

    .footer-section-top-container p{
        text-align: center;
    }
    .footer-section-bottom-container{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 0;
        padding-bottom: 24px;
        row-gap: 22px;
    }
    .footer-section-bottom-container-copy-container p{
        font-size: 12px;
        line-height: 16.8px;
        text-align: center;
    }
    .footer-section-bottom-container-img-container{
        column-gap: 50px;
        align-items: center;
    }

}
@media only screen and (max-width: 467px){
    #title-marker-footer-invisible{
        top: 35px;
        right: -20px;
        z-index: 10;
    }
}