@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
font-family: 'Corinthia', cursive;

font-family: 'Montserrat', sans-serif;

font-family: 'Mulish', sans-serif;

font-family: 'Work Sans', sans-serif;
 */

/*-------------------------------------------- Common -----------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}


:root{
    --color-prim : #ECDE62;
    --color-white : #FFFFFF;
    --color-black : #000000;
    --color-black-80 : #333333;
    --color-black-60: #666666;
    --btn-transition: all 0.15s ease-in-out;
    cursor: none;
}

body{
    background: var(--color-white);
    overflow-x: hidden;
    
}

button, a{
    cursor: none;
}

.title-typo{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 82.11px;
}

.list-typo{
    font-weight: 600;
    font-size: 24px;
    line-height: 31.2px;
}

.para-typo{
    font-weight: 600;
    font-size: 24px;
    line-height: 40.8px;
}

.mouse-cursor {
    position: fixed;
    background-color: var(--color-prim);
    width: 20px;
    height: 20px;
  left:-20px;
  top:-20px;
    border-radius: 100%;
    z-index: 1;
    z-index: 10001;
    transform: scale(1);
}

.mouse-cursor-follow {
   position: fixed;
    background-color: #ECDE6233;
    width: 30px;
    height: 30px;
  left:-25px;
  top:-25px;
    border-radius: 100%;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
}
/*-------------------------------------------- loading --------------------------------------------*/

#loader{
    position: fixed;
    height: 100vh;
    width: 100%;
    color: white;
    background: #000;
    z-index: 101;
}

/*-------------------------------------------- Navbar --------------------------------------------*/
.navbar-container{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 54px;
    z-index: 100;
    /* background: var(--color-black); */
}

.navbar-btn{
    padding: 10px 30px;
    background: var(--color-prim);
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
    border: none;
    border: 2px solid var(--color-prim);
    border-radius: 8px;
    transition: var(--btn-transition);
    /* cursor: pointer; */
}
.navbar-btn:hover{
    background: none;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    border-radius: 8px;
    box-sizing: border-box;
}

.navbar-color{
    background: var(--color-black);
    transition: all .25s ease-in-out;
}

/*-------------------------------------------- Hero-Section --------------------------------------------*/
#hero-section{
    background-image: linear-gradient(#000a, #000a), url("../assets/images/heroSection/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 665px;
    height: 80vh;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.hero-section-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1500px;
}

.hero-section-left-container{
    padding-left: 112px;
    min-width: 25rem;
}

.hero-section-title, .hero-section-title span{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 84px;
    line-height: 98.53px;
}

.hero-section-title span{
    color: var(--color-prim);
}

.hero-section-subtitle{
    margin-top: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
}

.hero-section-right-container{
    padding-right: 149px;
}

.hero-section-bottom-container{
    display: flex;
    overflow: hidden;
}


.hero-section-bottom-services-container{
    padding: 32px 0;
    white-space: nowrap;
    animation: banner 30s linear infinite
}

.marquee-item-service{
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;    
}
.marquee-item-service span{
    display: inline-block;
    margin: 0 20px;
    height: 6px;
    width: 6px;
    background: var(--color-prim);
    border-radius: 100%;
}

@keyframes banner {
    0%{
        transform: translateX(-100%);
    }


    100%{
        transform: translateX(0);
    }

}

.output {
    text-align:center;

    color:var(--color-prim);
  }

.output h1 {
    font-size:84px;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
  }
  
  /* Cursor Styling */
  
  .cursor::after {
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:var(--color-prim);
    animation-name:blink;
    animation-duration:1s;
    animation-iteration-count: infinite;
  }
  h1.cursor::after {
    height:65px;
    width:13px;
  }
  p.cursor::after {
    height:13px;
    width:6px;
  }
  
  @keyframes blink {
    0% {
      opacity:1;
    }
    49% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
  }

/*-------------------------------------------- Achievement-Section --------------------------------------------*/

#achievement-section{
    display: flex;
    justify-content: center;
}

.achivement-container-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin-top: 84px;
    padding: 0 100px;
}

.single-achivement-container{
    margin-bottom: 65px;
}
.achivement-header{
    color: var(--color-black-80);
}

.achivement-subtitle{
    color: var(--color-black-60);
}

.video-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 970px;
    height: 594px;
    background-image: linear-gradient(#000a, #000a), url("../assets/images/heroSection/video-bg.png");
    border-radius: 20px;
    box-shadow: 0px 10px 200px 10px #888888;
}


.play-outer-circle{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 310px;
    width: 310px;
    background: #ECDE6233;
}
.play-inner-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 228px;
    width: 228px;
    background: var(--color-prim);
    color: var(--color-black-80);
}


/*-------------------------------------------- service-Section --------------------------------------------*/

#service-section{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.service-section-content-container{
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
}

.service-section-static-bg-container{
    position: sticky;
    width: 100%;
    left: 500px;
    top: -0.5rem;
    z-index: -10;
    display: flex;
    justify-content: center;
}

.service-section-inner-bg-container{
    /* position: absolute;     */
    /* left: 30%; */
    transform: translate(-50%,0);
    

}

.service-section-static-bg-container h1{
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 680px;
    font-weight: 700;
    color: #eeeeee;
    text-shadow: 4px 4px 14px #00000022;
    /* margin-bottom: 50rem; */
}
.service-section-static-bg-container img{
    position: absolute;
    left: -14rem;
    top: 10rem;
    opacity: 0;
    scale: 0;
}

.first-sticky-container{
    margin-top: -48.5rem;
}

.last-sticky-container{
    margin-bottom: 10.6rem;
}
.service-single-type-sticky-container{
    position: relative;
    height: 1050px;
    padding-top: 140px;
    /* overflow: hidden; */

}

.service-single-type-container{
    width: 100%;
    position: sticky;
    top: 10rem;
    display: flex;
    align-items: center;
    /* column-gap: 500px; */
}

.service-single-type-bg-number{
    position: absolute;
    left: 700px;
    z-index: -10;
}

.service-single-type-bg-number h1{
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 680px;
    font-weight: 700;
    color: #eeeeee;
    text-shadow: 4px 4px 14px #00000022;
}

.service-single-type-content-container{
    /* padding-right: 150px; */
}

.service-single-type-img-container{
    width: 1000px;
    height: 10px;
}

@media only screen and (max-width: 1400px){
    .service-single-type-bg-number{
        left: 550px;
    }
    .service-single-type-img-container{
        width: 850px;
    }
}

@media only screen and (max-width: 1100px){
    .service-single-type-bg-number{
        left: 450px;
    }
    .service-single-type-img-container{
        width: 600px;
    }
}

.service-single-type-title-container{
    position: relative;
}

#title-marker-design{
    position: absolute;
    top: -15%;
    left: -20%;
}

.service-single-type-subservice-container{
    margin-top: 38px;
    list-style: none;
}
.service-single-type-subservice-container li{
    color: var(--color-black-60);
    margin-bottom: 24px;
    margin-left: -100px;
    opacity: 0;
}

#title-marker-technology{
    position: absolute;
    top: -35%;
    left: -10%;
}

#title-marker-business{
    position: absolute;
    top: -25%;
    left: -15%;
}

.title-marker-path{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    /* animation: dash 1.5s ease-in-out infinite forwards; */
}

.title-marker-technology-path{
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
}

.title-marker-business-path{
    stroke-dasharray: 1020;
    stroke-dashoffset: 1013;
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

/*-------------------------------------------- experties-Section --------------------------------------------*/

#experties-section{
    position: relative;
    margin-top: 10rem;
    height: 100vh;
    background: var(--color-black);
}

.experties-main-title{
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 200px;
    color: #fff7;
}
.experties-main-subtitle{
    position: absolute;
    top: 165px;
    left: 600px;
    color: var(--color-white);
}

#headerEffectCanvas {
    width: 100%;
    height: 100%;
  }

/*-------------------------------------------- unboxing-Section --------------------------------------------*/
#unboxing-section{
    display: flex;
    justify-content: center;
    margin: 120px 0;
    height: 658px;
}

.unboxing-section-content-container{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1500px;
    padding: 0 50px;
    display: flex;
    align-items: center;
}

.unboxing-section-title{
    width: 100%;
    white-space: nowrap;
}
.unboxing-section-loading-blob-container{
    position: absolute;
    right: 10%;
    display: flex;
    column-gap: 3rem;
    z-index: -10;
}

.unboxing-section-loading-blob-container div{
    width: 110px;
    height: 100px;
    background: #eeeeee;
    box-shadow: 4px 4px 14px #00000022;
    border-radius: 50px;
    opacity: 0;
}

/*-------------------------------------------- review-Section --------------------------------------------*/

#review-section{
    display: flex;
    justify-content: center;
    padding-top: 84px;
    height: 848px;
    background: var(--color-black);
}

.review-section-content-container{
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 0 54px;
    color: var(--color-white);
}

.review-section-title-container{
    position: relative;
}

#title-marker-happy{
    position: absolute;
    top: 70px;
    left: 230px;
}

.review-section-reviews-container{
    width: 100%;
    height: 100%;
    position: relative;
}

.review-section-quotes-container{
    position: absolute;
    right: 0;
    z-index: 2;
}

.review-section-slides-container{
    position: relative;
    height: 70%;
    width: 93%;
    overflow: hidden;  
    display: flex;
    flex: 1;
}

.review-section-slides-inner{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 6rem;
}

.review-section-slide{
    position: absolute;
    min-width: 100%;
    height: 396px;
    
}

.review-section-slide-content-container{
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: #232323;
    border-radius: 40px;
    margin:0 1rem;
    box-shadow: 0px 8px var(--color-white);
}

.slide-para{
    width: 80%;
}

.slide-client{
    font-weight: 700;
}

.slide-client-designation{
    margin-top: 4px;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;   
}

.slider-button-container{
    position: absolute;
    right: 10rem;
    display: flex;
    column-gap: 34px;
}

.slider-button-container button{
    background: none;
    border: none;
    padding: 10px 0;
    /* cursor: pointer; */
}


/*-------------------------------------------- values-Section --------------------------------------------*/

#values-section{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
}

.values-single-type-sticky-container{
    position: relative;
    height: 1050px;
    /* padding-top: 140px; */
}
.values-section-content-container{
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 0 54px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.values-section-static-bg-container{
    position: sticky;
    left: 500px;
    top: -0.5rem;
    z-index: -10;
    width: 100%;
}

.value-section-static-bg-img{
    position: absolute;
    right: 0;
    top: 15rem;
    opacity: 0;
    scale: 0;
}
.values-single-value-main-container{
    width: 100%;
    position: sticky;
    top: 10rem;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.values-yinyang-container{
    padding-top: 10rem;
    margin-top: -34rem;
}

.values-bg-values{
    display: inline-block;    
    /* position: absolute; */
    margin-top: 5.5rem;
    /* margin-left: -25rem; */
    padding-bottom: 21rem;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 250px;
    font-weight: 700;
    color: #eeeeee;
    text-shadow: 4px 4px 14px #00000022;
    z-index: -1;
}

.values-single-value-text-container{
    width: 50%;
}

.values-single-value-text-container p{
    margin-top: 32px;
    color: var(--color-black-80);
}

.values-commitment-container{
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-top: 10px;
}

.values-commitment-bg-values{
    top: -8rem;
}

.values-commitment-img-container{
    margin-right: -7.5rem;
    margin-top: -3.5rem;
}

#values-yinyang-shadow-img{
    position: absolute;
    bottom: -8rem;
    right: 0;
    opacity: 0.2;
}

#values-commitment-shadow-img{
    position: absolute;
    bottom: -2rem;
    right: .5rem;
    opacity: 0.2;
}


/*-------------------------------------------- askus-Section --------------------------------------------*/

#askus-section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    background-color: #fdef73;
}

.askus-section-content-container{
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 64px 54px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.askus-title{
    width: 60%;
}

.askus-section-bottom-container{
    margin-top: 64px;
    position: relative;
    width: 100%;
}

.askus-section-bottom-container button{
    color: var(--color-white);
    background: var(--color-black);
    border: 3px solid var(--color-black);
    border-radius: 8px;
    padding: 22px 0px ;
    width: 652px;
    font-weight: 800;
    font-size: 24px;
    line-height: 30.12px;
    transition: var(--btn-transition);
    /* cursor: pointer; */
}

.askus-section-bottom-container button:hover{
    color: var(--color-black);
    background: none;
    border: 3px solid var(--color-black);
}

.askus-section-bottom-abs-container{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    gap: 22px;
    /* width: 100%; */
}

#arrow-marker-askus{
    position: absolute;
    top: -1.5rem;
    left: -12rem;
}
.askus-section-bottom-para-container{
    width: fit-content;
}

.askus-section-bottom-para{
    font-family: 'Corinthia', cursive;
    display: block;
    width: 500px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

@media only screen and (max-width: 1400px){
    .askus-section-bottom-abs-container{
        top: -5rem;
    }
}

@media only screen and (max-width: 1300px){
    .askus-section-bottom-abs-container{
        top: -8rem;
    }

    #arrow-marker-askus{
        top: 8rem;
        left: auto;
        right: 15rem;
        transform: rotateZ(30deg);
    }
}

@media only screen and (max-width: 1180px){
    .askus-section-bottom-abs-container{
        top: -8rem;
    }

    #arrow-marker-askus{
        top: 1.5rem;
        left: -10rem;
        right: auto;
        transform: rotateZ(-30deg);
    }
}

/*-------------------------------------------- designprocess-Section --------------------------------------------*/

#designprocess-section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

.designprocess-section-content-container{
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 0px 54px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.designprocess-section-title-container{
    width: 100%;
}
.designprocess-section-title-container h1{
    width: 80%;
}

.designprocess-section-middle-container{
    display: flex;
    align-items: center;
    column-gap: 100px;
    width: 100%;
    /* margin: -5rem 0; */
}

.designprocess-wait-what{
    font-size: 32px;
    line-height: 54.4px;
    margin-bottom: 3rem;
}

.designprocess-section-bottom-container{
    width: 100%;
    margin-top: 1rem;
}

.designprocess-section-bottom-container button{
    color: var(--color-white);
    background: var(--color-black);
    border: 3px solid var(--color-black);
    border-radius: 8px;
    padding: 25px 0px ;
    width: 652px;
    font-weight: 800;
    font-size: 24px;
    line-height: 30.12px;
    transition: var(--btn-transition);
    /* cursor: pointer; */
}

.designprocess-section-bottom-container button:hover{
    color: var(--color-black);
    background: none;
    border: 3px solid var(--color-black);
}

/*-------------------------------------------- blogs-Section --------------------------------------------*/

#blogs-section{
    display: flex;
    justify-content: center;
    margin: 200px 0 250px 0;
    width: 100%;
}

.blogs-section-content-container{
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 0px 54px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blogs-section-title{
    width: 100%;
}

.blogs-section-card-container{
    margin-top: 64px;
    width: 100%;
    display: flex;
    border: 4px solid var(--color-black);
    border-radius: 12px;
}

.blogs-section-img-container{
    background: #EEEEEE;
    width: 536px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.blogs-section-card-content-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blogs-section-card-blog-heading{
    font-weight: 700;
    font-size: 32px;
    line-height: 54.4px;
    margin-bottom: 32px;
}

.blogs-section-card-blog-content{
    font-weight: 600;
    font-size: 24px;
    line-height: 40.8px;
}

.blogs-section-card-button-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 1.5rem;
}

.blogs-btn{
    padding: 20px 0;
    width: 274px;
    font-weight: 800;
    font-size: 24px;
    line-height: 31.12px;
    border: none;
    border-radius: 8px;
    border: 4px solid var(--color-black);
    background: none;
    /* cursor: pointer; */
    transition: var(--btn-transition);
}

.blogs-read-more-btn{
    background: var(--color-black);
    color: var(--color-white);
}

.blogs-read-more-btn:hover{
    background: none;
    color: var(--color-black);
}

.blogs-view-all-btn:hover{
    background: var(--color-black);
    color: var(--color-white);
}

/*-------------------------------------------- footer-Section --------------------------------------------*/

#footer-section{
    display: flex;
    justify-content: center;
    /* margin: 200px 0 100px 0; */
    width: 100%;
    background: var(--color-black);
    color: var(--color-white);
}

.footer-section-content-container{
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 0px 54px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-section-top-container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 124px;
    width: 100%;
}

#title-marker-footer-invisible{
    position: absolute;
    top: -10px;
    right:-35px;
}

.footer-section-top-container p{
    margin-top: 24px;
    margin-bottom: 64px;
    font-weight: 600;
    font-size: 24px;
    line-height: 40.8px;
    align-items: center;
}

.footer-section-top-container button{
    width: 522px;
    padding: 22px 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 30.12px;
    border: 3px solid var(--color-prim);
    border-radius: 8px;
    background: var(--color-prim);
    /* cursor: pointer; */
    transition: var(--btn-transition);
}

.footer-section-top-container button:hover{
    background: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-white);
}

.footer-title{
    position: relative;
    text-align: center;
    width: fit-content;
}

.footer-section-bottom-container{
    margin-top: 75px;
    padding: 0 54px;
    padding-bottom: 42px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-section-bottom-container-copy-container p{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.footer-section-bottom-container-img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 75px;
}

